.Pscroll-container {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center; /* Add this line */
    background-color: rgb(0, 0, 0); /* Replace with your desired color */
    height: 300px; /* Add this line, replacing 100px with your desired height */
    z-index: 3;
  }
  
  .Pscroll-text {
    display: flex;
    animation: Pscroll 120s linear infinite;
}

@keyframes Pscroll {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}

  
  
  .Pfilled {  /* Replace with your desired color */
    font-family: 'Poppins', sans-serif;
    font-style: Black 900 Italic ;
    margin-right: 0.4em; /* Adjust this to manage spacing between repeating text */
    color: #ffffff; /* Replace with your desired color */
    font-size: 170px; 
    /* Add any other styles you want */
  }
  
  .Poutline {
    font-family: 'Poppins', sans-serif;
    -webkit-text-stroke: 3px #ffffff;  /* set stroke color and width */
    color: #00000000;  /* set the fill color */
    font-style: Black 900 Italic;
    margin-right: 0.2em; /* Adjust this to manage spacing between repeating text */
    font-size: 170px; 
  }
  
  

